sample/examples/example-1.json
[{"id":"8aba7522.24ff28","type":"inject","z":"535bfd4c.cbd2e4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"unitid\":1,\"address\":400,\"functioncode\":3,\"quantity\":2}","payloadType":"json","x":170,"y":200,"wires":[["c130d291b872892a"]]},{"id":"6110c79.9718d38","type":"debug","z":"535bfd4c.cbd2e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"responseBuffer.buffer","targetType":"msg","x":700,"y":200,"wires":[]},{"id":"c130d291b872892a","type":"modbus-read","z":"535bfd4c.cbd2e4","name":"modbus read","ip":"192.168.20.4","port":502,"timeout":100,"retries":0,"retry":100,"logerror":true,"x":400,"y":200,"wires":[["6110c79.9718d38"]]}]